.form {
  @apply col-span-2 bg-dark-1 p-3.5 pt-6 rounded-xl border-dark-3 border;
}

.footer {
  @apply flex justify-between items-center;
}

.action {
  @apply flex gap-3 mt-2 items-center;
}

.serverError {
  @apply block mx-auto mt-1 text-red-500;
  margin-left: 10.5rem;
}

.avatar {
  @apply w-8 h-8 mr-3 relative;
  min-width: 2rem;
  min-height: 2rem;
}
