.contentItem {
  @apply grid;
  grid-template-columns: 1fr 4fr 7fr;
}

.title {
  @apply overflow-hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
}
