.content {
  @apply pt-4 pb-3;
}
.icon {
  @apply text-xl;
}

.list {
  @apply flex flex-col gap-2 relative;
}

.noUsersLike {
  @apply text-center absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
