.form {
  @apply flex w-full;
}

.btn {
  @apply bg-dark-3 rounded-md px-3 ml-1.5 hover:bg-primary;
}

.icon {
  @apply text-xl;
}

.list {
  @apply flex flex-col gap-2 mt-4;
}

.content {
  @apply text-light-3 overflow-hidden mt-1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.noUsers {
  @apply flex justify-center text-center py-10;
}
